<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" id="test">
<input type="button" value="Добавить вопрос" onclick="add()">
<input type="button" value="Удалить вопрос" onclick="del()">
<input type="submit" value="Оправить форму">
</form>

<script>

var count = 1

function add(){


	let p = document.createElement("p");
	let input = document.createElement("input");
	input.id = count;
	input.name = count;
	document.body.append(p);
	document.body.append(input);
	count +=1;

}


function del(){

	count = count -1
	let del = document.getElementById(String(count));
	del.parentNode.removeChild(del);

}

</script>
</body>
</html>